@import url("https://www.w3schools.com/w3css/4/w3.css");

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Maker-Box {
  margin: 2%;

  padding-left: 20%;
  padding-right: 20%;
}

.ErrorMsg {
  color: red;
}